body {
  font-family: sans-serif;
  background-color: #4f00bd;
}

.wrapper {
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

header {
  text-align: center;
  color: #000000;
  padding-top: 50px;
  
}

.card {
  background-color: #0b1b58;
  color: #fff200;
  Text-align: center;
  font-size: 18px;
  border-width: 1px;
  margin: 0 auto;
  padding: 30px 40px;
  max-width: 800px;
}

.card-header::after {
  display: block;
  background: #141204;
  width: 100%;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  display: block;
  width: 100%;
  background: #141204;
  height: 2px;
}

.card-footer::after {
  display: block;
  clear: both;
}

.bottonBackground {
  background-color: #000000;
  text-align: center;
  cursor: pointer;  
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  display: block;
  background-color: beige;
  border: 5px solid #262a10;
  text-align: center;
  font-size: 20px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 85px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

@media (max-width: 690px) {
  .bottonBackground {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .bottonBackground {
    font-size: 0.8rem;
  }
}